# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
/hmonitor-db/bin/
/hmonitor-db/db
/hmonitor-db/.eclipse
/hmonitor-db/lib/
/hmonitor-db/logs/
/hmonitor-db/modules
/hmonitor-db/project/project
/hmonitor-db/project/target
/hmonitor-db/target
/hmonitor-db/tmp/
/hmonitor-db/test-result
/hmonitor-db/server.pid
/hmonitor-db/*.iml
/hmonitor-db/*.eml
/hmonitor-db/dist/
/hmonitor-db/.cache
/hmonitor-db/activator*
